<section class="page-padding">
  <div class="col-md-12">
    <section class="md-content-section">
      <div class="md-whiteframe-z1">
        <md-toolbar class="md-accent">
          <div class="md-toolbar-tools" style="height:50px">
            New Purchase Bill
          </div>
        </md-toolbar>

        <md-content>
          <div class="md-content__body">
            <form>
              <div class="row">
                <div class="col-md-6" style="padding-top: 15px;">
                  <md-autocomplete
                    ng-disabled="isDisabled"
                    md-no-cache="noCache"
                    md-selected-item-change="customerchange()"
                    md-search-text-change="search(searchtext)"
                    md-selected-item="selectedcustomer"
                    md-search-text="searchtext"
                    md-items="item in search(searchtext)"
                    md-item-text="item.firstname"
                    md-min-length="0"
                    placeholder="Select Vendor Name">
                    <md-item-template>
                      <span md-highlight-text="searchtext" md-highlight-flags="^i">{{item.firstname}} {{item.lastname}}</span>
                    </md-item-template>
                    <md-not-found>
                      No states matching "{{searchtext}}" were found.
                      <a ui-sref="addcontact">Create a new one!</a>
                    </md-not-found>
                  </md-autocomplete>
                </div>
                <div class="col-md-6">
                  <md-input-container flex="100" ng-click="fun()">
                    <label>Source Of Supply</label>
                    <input  ng-model="selectedcustomer.sos">
                  </md-input-container>
                </div>
              </div>
              <div class="row" ng-if="selectedcustomer">
                <div class="col-md-2"></div>
                <div class="col-md-5">
                  <span><b>ADDRESS</b></span>
                  <address>
                    {{selectedcustomer.address}}
                  </address>
                </div>
              </div>
              <div layout="row">
                <md-input-container flex="50">
                  <label>Reference Number</label>
                  <input  ng-model="referenceid" disabled>
                </md-input-container>
                <md-input-container flex="50">
                  <label>Bill Number</label>
                  <input  ng-model="billid">
                </md-input-container>
              </div>
              <div layout="row">
                <md-input-container flex="20">
                  <md-datepicker flex ng-model="billdate" md-placeholder="Bill Date" requireds></md-datepicker>
                </md-input-container>
                <md-input-container flex="20">
                  <md-datepicker flex ng-model="duedate" md-placeholder="Due Date" requireds></md-datepicker>
                </md-input-container>
              </div>
              <table class="table table-striped table-bordered" align="center">
                <thead>
                <tr>
                  <th style="width: 30%;">Item Details</th>
                  <th style="width: 10%;">Quantity</th>
                  <th style="width: 10%;">Rate</th>
                  <th style="width: 10%;">CGST</th>
                  <th style="width: 10%;">SGST</th>
                  <th style="width: 10%;">IGST</th>
                  <th style="width: 10%;">CESS</th>
                  <th style="width: 10%;">Amount</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in products">
                  <td>
                    <md-autocomplete flex
                                     md-input-name="autocompleteField"
                                     md-input-id="autoCompleteId{{$index}}"
                                     md-no-cache="noCache"
                                     md-selected-item="product.selectedItem"
                                     md-selected-item-change="fectchdata(product.selectedItem,$index)"
                                     md-search-text="searchText"
                                     md-items="item in searchproducts(searchText)"
                                     md-item-text="item.productname"
                                     md-require-match
                                     md-floating-label="  ">
                      <md-item-template>
                        <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.productname}}</span>
                      </md-item-template>
                      <md-not-found>
                        No states matching "{{searchText}}" were found.
                        <a ng-click="ctrl.newState(searchText)">Create a new one!</a>
                      </md-not-found>
                    </md-autocomplete>
                  </td>
                  <td>
                    <md-input-container flex="100" style="margin:0px;height: 34px;">
                      <input  id="qty{{$index}}" ng-change="calculatetotal()" ng-keydown="movetorate($event,$index)" ng-model="product.quantity" type="number">
                    </md-input-container>
                  </td>
                  <td>
                    <md-input-container flex="100" style="margin:0px;height: 34px;">
                      <input id="rate{{$index}}" ng-change="calculatetotal()" ng-keydown="movetorow($event,$index)" ng-model="product.rate" type="number">
                    </md-input-container>
                  </td>
                  <td>
                    <md-input-container flex="100" style="margin:0px;height: 34px;">
                      <md-select ng-model="product.cgst" ng-change="calculatetotal()">
                        <md-option value="0">0</md-option>
                        <md-option ng-repeat="cgst in cgsts" value="{{cgst.rate}}">{{cgst.name}}[{{cgst.rate}}]%</md-option>
                      </md-select>
                    </md-input-container>
                  </td>
                  <td>
                    <md-input-container flex="100" style="margin:0px;height: 34px;">
                      <md-select ng-model="product.sgst" ng-change="calculatetotal()">
                        <md-option value="0">0</md-option>
                        <md-option ng-repeat="sgst in sgsts" value="{{sgst.rate}}">{{sgst.name}}[{{sgst.rate}}]%</md-option>
                      </md-select>
                    </md-input-container>
                  </td>
                  <td>
                    <md-input-container flex="100" style="margin:0px;height: 34px;">
                      <md-select ng-model="product.igst" ng-change="calculatetotal()">
                        <md-option value="0">0</md-option>
                        <md-option ng-repeat="igst in igsts" value="{{igst.rate}}">{{igst.name}}[{{igst.rate}}]%</md-option>
                      </md-select>
                    </md-input-container>
                  </td>
                  <td>
                    <md-input-container flex="100" style="margin:0px;height: 34px;">
                      <md-select ng-model="product.cess" ng-change="calculatetotal()">
                        <md-option value="0">0</md-option>
                        <md-option ng-repeat="cess in cesss" value="{{cess.rate}}">{{cess.name}}[{{cess.rate}}]%</md-option>
                      </md-select>
                    </md-input-container>
                  </td>
                  <td style="text-align: right">
                    {{product.subtotal |number:2}}
                  </td>
                  <td>
                    <md-icon  class="md-primary"  ng-click="removes($index)" style="margin-right:5px;"md-svg-src="/img/icons/ic_delete_24px.svg"></md-icon>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="row" style="margin: 0px 0px 20px;">
                <div class="col-md-8 col-sm-8">
                  <div layout="row">
                    <a href="" ng-click="addNew()">+ Add Row </a> <br>
                  </div>
                  <div layout="row">
                    <md-input-container flex="80">
                      <label>Note for Customer</label>
                      <textarea ng-model="notes"></textarea>
                    </md-input-container>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4" style="padding-right: 55px;">
                  <table class="right" style="color: rgba(0,0,0,.6);">
                    <tbody>
                    <tr>
                      <td style="text-align:right;padding:5px 50px 5px 0px;color:#2e3033">Subtotal </td>
                      <td style="text-align:right;color:#2e3033">{{subtotal|number : 2}}</td>
                    </tr>
                    <tr>
                      <td style="text-align:right;padding:5px 50px 5px 0px;">CGST </td>
                      <td style="text-align:right;">{{cgstprice |number:2}}</td>
                    </tr>
                    <tr>
                      <td style="text-align:right;padding:5px 50px 5px 0px;">SGST</td>
                      <td style="text-align:right;">{{sgstprice |number:2}}</td>
                    </tr>
                    <tr>
                      <td style="text-align:right;padding:5px 50px 5px 0px;">IGST </td>
                      <td style="text-align:right;">{{igstprice |number:2}}</td>
                    </tr>
                    <tr>
                      <td style="text-align:right;padding:5px 50px 5px 0px;">CESS</td>
                      <td style="text-align:right;">{{cessprice |number:2}}</td>
                    </tr>
                    <tr>
                      <td style="text-align:right;padding:5px 50px 5px 0px;">Adjustment<br>
                        <md-input-container flex="40" style="float:right;margin:0px;height: 34px;">
                          <input  ng-model="discount" ng-change="calculatetotal()" type="number">
                        </md-input-container></td>
                      <td style="text-align:right;">{{discount|number:2}}</td>
                    </tr>
                    <tr>
                      <td style="text-align:right;padding:5px 50px 5px 0px;color:#2e3033">Total Amount</td>
                      <td style="text-align:right;color:#2e3033">{{maintotal|number:2}}</td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              <div layout="row">
                <md-button class="btn-width-medium md-raised md-primary" ng-click="updatebill()" style="float:right">Save</md-button>
                <md-button class="btn-width-medium md-raised md-primary" ui-sref="purchasebill" style="float:right">Cancel</md-button>
              </div>
            </form>
          </div>
        </md-content>
      </div>
    </section>
  </div>
</section>
