<!DOCTYPE html>
<html>
<head>
  <title>NextOnTop-Invoice</title>
  <base href="/">

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <!--
      Stylesheets and Preprocessors
      ==============================

      You can always bring in CSS files manually with `<link>` tags, or asynchronously
      using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
      of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, stylesheets from your `assets/styles` folder are included
      here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
      are supported. In production, your styles will be minified and concatenated into
      a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your CSS files
          + Import stylesheets from other directories
          + Use a different or additional preprocessor, like SASS, SCSS or Stylus
  -->

  <!--STYLES-->
  <link rel="stylesheet" href="/js/dependencies/angular-material/angular-material.css">
  <link rel="stylesheet" href="/js/dependencies/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/js/dependencies/Dripicons/css/dripicons.css">
  <link rel="stylesheet" href="/js/dependencies/weather-icons/css/weather-icons.css">
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/ie9.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <!--STYLES END-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,700,600,400'
        rel='stylesheet' type='text/css'>
</head>

<body ng-app="posApp" id="app" ng-controller="NavigationCtrl as navigationController" class="navigation--small">
<aside data-ng-hide="$root.hide" data-ng-include=" '/templates/navigation.html' "
       id="nav-container"></aside>

<div data-ng-class="{'ownpage' : $root.hide, 'slided-right' : navigationController.sidebar_opened}"
     class="view-container" layout="column" flex>
  <section data-ng-hide="$root.hide" data-ng-include=" '/templates/header.html' " id="header" class="top-header"></section>
  <%- body %>
</div>




<!--
    Client-side Templates
    ========================

    HTML templates are important prerequisites of modern, rich client applications.
    To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
    that you load these templates client-side.

    By default, your Gruntfile is configured to automatically load and precompile
    client-side JST templates in your `assets/templates` folder, then
    include them here automatically (between TEMPLATES and TEMPLATES END).

    To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
    For example, here are a few things you could do:

        + Import templates from other directories
        + Use a different template engine (handlebars, jade, dust, etc.)
        + Internationalize your client-side templates using a server-side
          stringfile before they're served.
-->

<!--TEMPLATES-->
<script type="text/javascript" src="/jst.js"></script>
<!--TEMPLATES END-->


<!--

  Client-side Javascript
  ========================

  You can always bring in JS files manually with `script` tags, or asynchronously
  on the client using a solution like AMD (RequireJS).  Or, if you like, you can
  take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

  By default, files in your `assets/js` folder are included here
  automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
  CoffeeScript (.coffee) are supported. In production, your scripts will be minified
  and concatenated into a single file.

  To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
  For example, here are a few things you could do:

      + Change the order of your scripts
      + Import scripts from other directories
      + Use a different preprocessor, like TypeScript

-->

<!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/angular/angular.js"></script>
    <script src="/js/dependencies/angular-barcode.js"></script>
    <script src="/js/dependencies/zingchart-angularjs.js"></script>
    <script src="/js/dependencies/zingchart-2.1.4.min.js"></script>
    <script src="/js/dependencies/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/js/dependencies/angular-aria/angular-aria.js"></script>
    <script src="/js/dependencies/angular-animate/angular-animate.js"></script>
    <script src="/js/dependencies/angular-material/angular-material.js"></script>
    <script src="/js/dependencies/angular-messages/angular-messages.js"></script>
    <script src="/js/dependencies/underscore/underscore.js"></script>
    <script src="/js/dependencies/ng-file-upload/ng-file-upload.js"></script>
    <script src="/js/dependencies/ng-file-upload/ng-file-upload-shim.js"></script>
    <script src="/js/dependencies/material-angular-paging/build/dist.min.js"></script>
    <script src="/js/dependencies/export/tableExport.js"></script>
    <script src="/js/dependencies/export/jquery.base64.js"></script>
    <script src="/js/dependencies/export/sprintf.js"></script>
    <script src="/js/dependencies/export/jspdf.js"></script>
    <script src="/js/dependencies/export/base64.js"></script>
    <script src="/js/dependencies/test.js"></script>
    <script type="text/javascript" src="/js/dependencies/mousetrap.min.js"></script>
    <script src="/js/dependencies/angular-hotkeys/src/hotkeys.js"></script>
    <script src="/js/dependencies/jquery.scannerdetection.js"></script>
    <script src="/js/dependencies/angular.scannerdetection.js"></script>
    <script src="/js/dependencies/Chartjs-2.7.2/Chart.js"></script>
    <script src="/js/dependencies/Chartjs-2.7.2/Chart.bundle.js"></script>
    <script src="/js/dependencies/angular-chart.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/controllers/contact/contact.js"></script>
    <script src="/js/controllers/contact/single_contact.js"></script>
    <script src="/js/controllers/dashboard/dashboard.js"></script>
    <script src="/js/controllers/dashboard/saledetails.js"></script>
    <script src="/js/controllers/header.js"></script>
    <script src="/js/controllers/Changepassword.js"></script>
    <script src="/js/controllers/item/bargenerate.js"></script>
    <script src="/js/controllers/item/collections.js"></script>
    <script src="/js/controllers/item/singleitem.js"></script>
    <script src="/js/controllers/item/itempage.js"></script>
    <script src="/js/controllers/item/productedit.js"></script>
    <script src="/js/controllers/main.js"></script>
    <script src="/js/controllers/navigation.js"></script>
    <script src="/js/controllers/overduepayment.js"></script>
    <script src="/js/controllers/purchase/editexpense.js"></script>
    <script src="/js/controllers/purchase/expensesCtrl.js"></script>
    <script src="/js/controllers/purchase/purchase.js"></script>
    <script src="/js/controllers/purchase/purchaselist.js"></script>
    <script src="/js/controllers/purchase/billsingle.js"></script>
    <script src="/js/controllers/purchase/paymentmade.js"></script>
    <script src="/js/controllers/purchase/paymentmadepage.js"></script>
    <script src="/js/controllers/purchase/singlepaymade.js"></script>
    <script src="/js/controllers/purchase/return.js"></script>
    <script src="/js/controllers/purchase/returnlist.js"></script>
    <script src="/js/controllers/purchase/returnsingle.js"></script>
    <script src="/js/controllers/purchase/returnedit.js"></script>
    <script src="/js/controllers/purchase/billedit.js"></script>
    <script src="/js/controllers/purchase/purchaseorderlist.js"></script>
    <script src="/js/controllers/purchase/purchaseorder.js"></script>
    <script src="/js/controllers/purchase/purchaseorderedit.js"></script>
    <script src="/js/controllers/purchase/purchaseordersingle.js"></script>
    <script src="/js/controllers/stockalert.js"></script>
    <script src="/js/controllers/reports/posreport.js"></script>
    <script src="/js/controllers/reports/expensereport.js"></script>
    <script src="/js/controllers/reports/inventory.js"></script>
    <script src="/js/controllers/reports/retailgst.js"></script>
    <script src="/js/controllers/reports/purchasereport.js"></script>
    <script src="/js/controllers/reports/returnreport.js"></script>
    <script src="/js/controllers/reports/salesorderreport.js"></script>
    <script src="/js/controllers/templates/pos.js"></script>
    <script src="/js/controllers/templates/est.js"></script>
    <script src="/js/controllers/templates/purch.js"></script>
    <script src="/js/controllers/templates/purch_order.js"></script>
    <script src="/js/controllers/templates/barcode.js"></script>
    <script src="/js/controllers/templates/sales_order.js"></script>
    <script src="/js/controllers/sales/Estimatepage.js"></script>
    <script src="/js/controllers/sales/estimate.js"></script>
    <script src="/js/controllers/sales/paymentrecive.js"></script>
    <script src="/js/controllers/sales/pos.js"></script>
    <script src="/js/controllers/sales/invoice.js"></script>
    <script src="/js/controllers/sales/pointofsale.js"></script>
    <script src="/js/controllers/sales/paymentreceivedpage.js"></script>
    <script src="/js/controllers/sales/singlepos.js"></script>
    <script src="/js/controllers/sales/singlereceive.js"></script>
    <script src="/js/controllers/sales/invoiceedit.js"></script>
    <script src="/js/controllers/sales/salereturnedit.js"></script>
    <script src="/js/controllers/sales/salereturnlist.js"></script>
    <script src="/js/controllers/sales/newsalereturn.js"></script>
    <script src="/js/controllers/sales/singlesalereturn.js"></script>
    <script src="/js/controllers/sales/salesorder/salesorder.js"></script>
    <script src="/js/controllers/sales/salesorder/singlesalesorder.js"></script>
    <script src="/js/controllers/settings/bankdetails.js"></script>
    <script src="/js/controllers/settings/taxpage.js"></script>
    <script src="/js/controllers/settings/uompage.js"></script>
    <script src="/js/controllers/settings/userole.js"></script>
    <script src="/js/controllers/settings/posconfigCtrl.js"></script>
    <script src="/js/controllers/settings/salespersons.js"></script>
    <script src="/js/controllers/settings/salespersonsingle.js"></script>
    <script src="/js/controllers/uploader.js"></script>
    <script src="/js/controllers/templatectrl.js"></script>
    <script src="/js/controllers/verify.js"></script>
    <script src="/js/controllers/verifyservice.js"></script>
    <script src="/js/controllers/expire.js"></script>
    <script src="/js/controllers/renew.js"></script>
    <script src="/js/controllers/login.js"></script>
    <script src="/js/controllers/organisation.js"></script>
    <script src="/js/controllers/item/addcollection.js"></script>
    <script src="/js/controllers/item/additem.js"></script>
    <script src="/js/controllers/item/singleinventory.js"></script>
    <script src="/js/controllers/item/addInventoryAdj.js"></script>
    <script src="/js/controllers/item/inventoryList.js"></script>
<!--SCRIPTS END-->
</body>
</html>
