<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" style="background-color:purple">
            <center><h4 class="title">CHANGE NEW PASSWORD</h4></center>
          </div>
          <div class="card-content">
            <form ng-submit="changepassword()">
              <div class="row">
                  <div class="col-md-3" style="text-align:right">
                  </div>   
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Old Password</label>
                    <input type="password" class="form-control" ng-model="oldpass" required>
                  </div>
                </div>
              </div>
              <div class="row">
                    <div class="col-md-3" >
                    </div>   
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">New Password</label>
                      <input type="password" class="form-control" ng-model="newpass" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                        <div class="col-md-3" >
                        </div>   
                      <div class="col-md-6">
                        <div class="form-group label-floating">
                          <label class="control-label">Re-type New password</label>
                          <input type="password" class="form-control" ng-model="newpass1" required>
                        </div>
                      </div>
                    </div>
                    <div class="row" style="text-align:center">
                        <button style="align-content:center" type="submit" class="btn btn-success">CHANGE MY PASSWORD</button>
                    </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
