<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a ui-sref="pos.index">
            Dashboard
          </a>
        </li>
        <li>
          <a ui-sref="pos.newclient">
            New Client
          </a>
        </li>
        <li>
          <a ui-sref="pos.onlineusers">
            Online Users
          </a>
        </li>
        <li>
          <a ui-sref="pos.offlineusers">
            Offline Users
          </a>
        </li>
      </ul>
    </nav>
    <p class="copyright pull-right">
      &copy; <script>document.write(new Date().getFullYear())</script> Company Name, made with love by <a href="http://www.nextontop.com">NextOnTop</a>.
    </p>
  </div>
</footer>
