<div class="sidebar" data-color="purple" data-image="../images/sidebar-3.jpg">
  <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

            Tip 2: you can also add an image using data-image tag
        -->

  <div class="logo">
    <a href="#" class="simple-text">
      POS ADMIN
    </a>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      <li ui-sref-active="active">
        <a ui-sref="pos.index" >
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="pos.newclient">
          <i class="material-icons">person</i>
          <p>New Client</p>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="pos.offlineusers">
          <i class="material-icons">store</i>
          <p>Offline Users</p>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="pos.onlineusers">
          <i class="material-icons">language</i>
          <p>Online Users</p>
        </a>
      </li>
      <li ng-if="$root.me.role=='SA'" ui-sref-active="active">
        <a ui-sref="pos.subadmin">
          <i class="material-icons">supervisor_account</i>
          <p>Sub Admin</p>
        </a>
      </li ng-if="$root.me.role=='SA'" ui-sref-active="active">
       <li ui-sref-active="active">
        <a ui-sref="pos.changepass">
          <i class="material-icons">swap_horiz</i>
          <p>Change Password</p>
        </a>
      </li>
      <li ui-sref-active="active">
        <a href ng-controller="MainCtrl" ng-click="logout()">
          <i class="material-icons">info_outline</i>
          <p>Logout</p>
        </a>
      </li>
    </ul>
  </div>
</div>
