<style>
  @page {
    /*size: 2.0in 11in;  !* width height *!*/
    margin: 0px;
  }
  p{
    margin: 0px;
    height: 15px;
    color: black;
  }
  table {
    width: 100%;
    display: table;
  }
  table.bordered>tbody>tr, table.bordered>thead>tr {
    border-bottom: 1px solid #E0E0E0;
  }
  thead {
    border-bottom: 1px solid #d0d0d0;
  }
  tr,tb{
    height: 15px;
  }
  h6{
    font-size:6pt;
    margin-bottom: 0px;
  }
</style>
<section style="color: black;font-family: Arial, Helvetica, sans-serif;margin-left: -3px;width: 1.8in;float: left;">
  <div class="col-md-12" style="padding: 0px;">
    <div class="card-content" style="padding: 0px;">
      <div class="row" style="margin:0px">
        <div align="center" style="width: 100%;border-bottom:dashed 1px;">
          <h5 style="font-size:15px;margin:0px">{{mainuser.company}}</h5>
          <h6 style="margin-bottom: 5px;">{{mainuser.address}}</h6>
          <h6 style="margin-bottom: 5px;">{{mainuser.city}}-{{mainuser.postalcode}},</h6>
          <h6 style="margin-bottom: 5px;">{{mainuser.phoneno}}</h6>
          <h6 ng-if="mainuser.gstin" style="margin-bottom: 5px;">GSTIN : {{mainuser.gstin}}</h6>
        </div>
      </div>
      <div class="row" style="margin:0px">
        <table class="bordered" style="font-size: 6pt;">
          <tbody>
          <tr style="border-bottom:dashed 1px;">
            <td style="padding:2px"><p><b>Bill : </b>{{pos.posid}}</p></td>
            <td style="text-align:right;padding:2px"><p>{{pos.createdAt|date:'dd/MM/yyyy'}},{{pos.createdAt|date:'h:mm a'}} </p></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row" style="margin: 5px 0px 0px;">
        <table style="font-size:6pt;">
          <thead>
          <tr style="text-align:right;border-bottom:dashed 1px;">
            <th style="padding:2px;">Item Name</th>
            <th style="padding:2px;text-align:right">Rate</th>
            <th style="padding:2px;text-align:right;">Qty</th>
            <th style="padding:2px;text-align:right;">Tax</th>
            <th style="padding:2px;text-align:right">Amount</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="product in pos.products">
            <td style="padding:2px"><h6 style="word-break: break-all;">{{product.selectedItem.productname}}</h6></td>
            <td style="padding:2px;text-align:right"><h6>{{product.rate|number:2}}</h6></td>
            <td style="padding:2px;text-align:right;"><h6>{{product.quantity}} {{product.unit}}</h6></td>
            <td style="padding:2px;text-align:right"><h6>{{product.singletax}}%</h6></td>
            <td style="padding:2px;text-align:right"><h6>{{product.subtotal|number:2}}</h6></td>
          </tr>
          </tbody>
        </table>
      </div>
      <hr style="border-top:dashed 1px;margin: 3px 0px;">
      <div class="row" style="margin:0px;" >
        <table style="font-size:6pt;">
          <tbody>
          <tr>
            <td style="padding:2px"><h6><b>Subtotal : </b></h6></td>
            <td style="text-align:right;padding:2px"><h6><b>{{pos.totalsub|number:2}}</h6></b></td>
          </tr>
          <tr ng-if="pos.totalcgst">
            <td style="padding:2px;"><h6>CGST :</h6> </td>
            <td style="text-align:right;padding:2px;"><h6>{{pos.totalcgst|number:2}}</h6></td>
          </tr>
          <tr ng-if="pos.totalsgst">
            <td style="padding:2px;"><h6>SGST :</h6> </td>
            <td style="text-align:right;padding:2px;"><h6>{{pos.totalsgst|number:2}}</h6></td>
          </tr>
          <tr ng-if="pos.totaligst">
            <td style="padding:2px;"><h6>IGST : </h6></td>
            <td style="text-align:right;padding:2px;"><h6>{{pos.totaligst|number:2}}</h6></td>
          </tr>
          <tr ng-if="pos.discount!=0">
            <td style="padding:2px"><h6>Discount :</h6></td>
            <td style="text-align:right;padding:2px"><h6>{{pos.discount |number:2}}</h6></td>
          </tr>
          <tr>
            <td style="border-bottom:dashed 1px;font-size:6pt;padding:3px"><h6><b>Grand Total</b></h6></td>
            <td style="border-bottom:dashed 1px;font-size:6pt;text-align:right;padding:3px"><h6><b>₹ {{pos.maintotal|number:2}}</b></h6></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row" style="margin:0px">
        <table style="font-size:6pt;" class="bordered" style="font-size:6pt;">
          <tbody>
          <tr>
            <td style="padding:2px;width: 50%"><h6><b>Tot Items :</b>{{pos.items}}</h6></td>
            <td style="padding:2px;text-align:right;"><h6><b>Tot Qty :</b>{{pos.totalquantity}}</h6></td>
          </tr>
          <tr>
            <td style="padding:2px;"><h6><b>Cash Received : </b></h6></td>
            <td style="padding:2px;text-align: right;"><h6>₹ {{pos.tenderedamount|number:2}}</h6></td>
          </tr>
          <tr>
            <td style="padding:2px"><h6><b>Balance : </b></h6></td>
            <td style="text-align:right; padding:2px"><h6>₹ {{pos.balance|number:2}}</h6></td>
          </tr>
          <tr>
            <td style=" padding:2px" colspan="2"><h6><b>Customer Name : </b>{{pos.username}}</h6></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row" style="margin:0px">
        <div style="width: 100%;margin-bottom: 20px;" align="center">
          <p style="font-size:13pt;margin-top: 10px;"><b>Rs.{{pos.maintotal|number:2}}</b></p>
          <p style="font-size:6pt">{{config.description}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

