<style>
  p{
    margin-top: 0px;
    margin-bottom: 1px;
    font-size: 8pt;
  }
  .td_h{
    text-align:right;padding:0px 50px 0px 0px;font-weight: 700;font-size: 9pt;
  }
  .td_h_r{
    text-align:right;font-weight: 700;font-size: 9pt;
  }
  .pcs-itemtable-header {
    font-size: 9pt;
    color: black;
    background-color: white;
    font-weight: normal;
  }
  .pcs-itemtable tbody > tr > td {
    padding: 1px 5px;
  }
  .pcs-item-row {
    font-size: 8pt;
    border-bottom: 1px solid #9e9e9e;
    background-color: #ffffff;
    color: #000000;
  }
  .pcs-totals {
    font-size: 8pt;
    color: #000000;
    background-color: #ffffff;
  }
  .pcs-totaltable tbody > tr > td {
    padding: 4px 7px 0px;
    text-align: right;
  }
</style>
<section class="page-padding">
  <div class="col-md-12">
    <div class="card-content">
      <div class="row" style="margin: 0px;">
        <div class="card-title" style="width: 50%">
          <!--<img ng-src="{{mainuser.imagedir}}" style="width:50px; height: 50px;margin-bottom: 10px">-->
          <p style="color: black;font-size: 14px" ><b>{{mainuser.company}}</b></p>
          <p>{{mainuser.address}}</p>
          <p>{{mainuser.city}}- {{mainuser.postalcode}}</p>
          <p>{{mainuser.country}}</p>
          <p>{{mainuser.phoneno}}</p>
          <p ng-if="mainuser.gstin">GSTIN : {{mainuser.gstin}}</p>
        </div>
        <div class="right-align top" style="width: 50%">
          <h3 style="font-size: 1.5rem;  margin: 0px 0px 3px;">Invoice</h3>
          <p style="font-weight: 700;font-size: 9pt;">{{pos.posid}}</p>
          <p style="margin-top:10px;color: green">Total Amount</p>
          <p style="color: green">₹ {{pos.maintotal|number:2}}</p>
          <p style="margin-top:10px;color: red">Balance </p>
          <p style="color: red">₹ {{pos.balance|number:2}}</p>
        </div>
      </div>
      <div class="row" style="margin: 0px 0px 20px;">
        <div style="width: 50%">
          <div style="width: 300px;">
            <p style="color: black;font-size: 14px"><b>Bill To</b></p>
            <p style="color: black"><b>{{pos.user.company}}</b></p>
            <p style="color: black"><b>{{pos.user.firstname}} {{pos.user.lastname}}</b></p>
            <p>{{pos.user.address}}</p>
            <p ng-if="pos.user.gstin">GSTIN : {{pos.user.gstin}}</p>
            <p ng-if="pos.user.pannumber">PAN : {{pos.user.pannumber}}</p>
          </div>
        </div>
        <div style="width: 50%">
          <div class="right">
            <table>
              <tbody>
              <tr>
                <td class="td_h">Invoice Date :</td>
                <td class="td_h_r">{{pos.invoicedate|date:'dd/MM/yyyy'}}</td>
              </tr>

              <tr ng-if="pos.duedate">
                <td class="td_h">Due Date :</td>
                <td class="td_h_r">{{pos.duedate|date:'dd/MM/yyyy'}}</td>
              </tr>
              <tr ng-if="pos.user.plos">
                <td class="td_h">Place of Supply :</td>
                <td class="td_h_r">{{pos.user.plos}}</td>
              </tr>
              <tr ng-if="pos.user.statecode">
                <td class="td_h">State Code :</td>
                <td class="td_h_r">{{pos.user.statecode}}</td>
              </tr>
              <tr ng-if="pos.vehicleno">
                <td class="td_h">Vehicle No :</td>
                <td class="td_h_r">{{pos.vehicleno}}</td>
              </tr>
              <tr ng-if="pos.orderno">
                <td class="td_h">Order No :</td>
                <td class="td_h_r">{{pos.orderno}}</td>
              </tr>
              <tr ng-if="pos.orderdate">
                <td class="td_h">Order Date :</td>
                <td class="td_h_r">{{pos.orderdate|date:'dd/MM/yyyy'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row" style="margin: 0px;">
        <div style="width: 100%;">
          <table style="width: 100%;table-layout:fixed;clear: both;" class="pcs-itemtable"  cellspacing="0" cellpadding="0" border="0">
            <thead>
            <tr style="height:17px;border-bottom: 1px solid #000!important;">
              <th valign="bottom" style="padding:5px 5px 2px;word-wrap: break-word;width: 5%;text-align: center;" class="pcs-itemtable-header">
                <b>#</b>
              </th>
              <th valign="bottom" style="padding: 5px 7px 2px;word-wrap: break-word; width: 22%;" class="pcs-itemtable-header">
                <b>Item</b>
              </th>
              <th valign="bottom" style="padding: 5px 7px 2px;word-wrap: break-word; width: 11%;" class="pcs-itemtable-header">
                <b>HSN/SAC</b>
              </th>
              <th valign="bottom" style="padding: 5px 7px 2px;word-wrap: break-word; width: 7%;text-align:right;" class="pcs-itemtable-header">
                <b>Qty</b>
              </th>
              <th valign="bottom" style="padding: 5px 7px 2px;word-wrap: break-word; width: 12%;text-align:right;" class="pcs-itemtable-header">
                <b>Rate</b>
              </th>
              <th valign="bottom" style="padding: 5px 7px 2px;word-wrap: break-word; width: 7%;text-align:right;" class="pcs-itemtable-header" ng-if="tcgst">
                <b>CGST</b>
              </th>
              <th valign="bottom" style="padding: 5px 7px 2px;word-wrap: break-word; width: 7%;text-align:right;" class="pcs-itemtable-header" ng-if="tsgst">
                <b>SGST</b>
              </th>
              <th valign="bottom" style="padding: 5px 7px 2px;word-wrap: break-word; width: 7%;text-align:right;" class="pcs-itemtable-header" ng-if="tigst">
                <b>IGST</b>
              </th>
              <th valign="bottom" style="padding: 5px 7px 2px;word-wrap: break-word; width: 7%;text-align:right;" class="pcs-itemtable-header" ng-if="tcess">
                <b>CESS</b>
              </th>
              <th valign="bottom" style="padding: 5px 7px 2px;word-wrap: break-word; width: 15%;text-align:right;" class="pcs-itemtable-header">
                <b>Amount</b>
              </th>
            </tr>
            </thead>
            <tbody class="itemBody">
            <tr ng-repeat="product in pos.products">
              <td valign="top" style="text-align: center;" class="pcs-item-row">
                {{$index+1}}
              </td>
              <td valign="top" class="pcs-item-row">
                <span style="word-wrap: break-word;">{{product.selectedItem.productname}}</span>
              </td>
              <td valign="top" class="pcs-item-row">
                <span style="word-wrap: break-word;">{{product.selectedItem.hsn}}</span>
              </td>
              <td valign="top" class="pcs-item-row" style="text-align:right;">
                <span style="word-wrap: break-word;">{{product.quantity}} {{product.unit}}</span>
              </td>
              <td valign="top" class="pcs-item-row" style="text-align:right;">
                <span style="word-wrap: break-word;">{{product.rate|number:2}}</span>
              </td>
              <td valign="top" class="pcs-item-row" style="text-align:right;" ng-if="tcgst">
                <span style="word-wrap: break-word;">{{product.cgst}}%</span>
              </td>
              <td valign="top" class="pcs-item-row" style="text-align:right;" ng-if="tsgst">
                <span style="word-wrap: break-word;">{{product.sgst}}%</span>
              </td>
              <td valign="top" class="pcs-item-row" style="text-align:right;" ng-if="tigst">
                <span style="word-wrap: break-word;">{{product.igst}}%</span>
              </td>
              <td valign="top" class="pcs-item-row" style="text-align:right;" ng-if="tcess">
                <span style="word-wrap: break-word;">{{product.cess}}%</span>
              </td>
              <td valign="top" class="pcs-item-row" style="text-align:right;">
                <span style="word-wrap: break-word;">{{product.subtotal|number:2}}</span>
              </td>
            </tr>
            </tbody>
          </table>
          <div style="width: 100%;">
            <div style="width: 50%;padding: 4px 4px 3px 7px;float: left;">
              <div style="clear:both;margin-top: 20px;width:100%;" ng-if="config.terms">
                <div><p><b>Terms &amp; Conditions</b></p></div>
                <div style="white-space: pre-wrap;word-wrap: break-word;"><p>{{config.terms}}</p></div>
              </div>
            </div>
            <div style="width: 43.6%;float:right;" class="pcs-totals">
              <table class="pcs-totaltable" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                  <td valign="middle">Subtotal</td>
                  <td id="tmp_subtotal" valign="middle" style="width:110px;">{{pos.totalsub|number:2}}</td>
                </tr>
                <tr style="height:10px;" ng-if="pos.totalcgst">
                  <td valign="middle" align="right">CGST </td>
                  <td valign="middle" style="width:110px;">{{pos.totalcgst|number:2}}</td>
                </tr>
                <tr style="height:10px;" ng-if="pos.totalsgst">
                  <td valign="middle" align="right">SGST</td>
                  <td valign="middle" style="width:110px;">{{pos.totalsgst|number:2}}</td>
                </tr>
                <tr style="height:10px;" ng-if="pos.totaligst">
                  <td valign="middle" align="right">IGST</td>
                  <td valign="middle" style="width:110px;">{{pos.totaligst|number:2}}</td>
                </tr>
                <tr style="height:10px;" ng-if="pos.totalcess">
                  <td valign="middle" align="right">CESS</td>
                  <td valign="middle" style="width:110px;">{{pos.totalcess|number:2}}</td>
                </tr>
                <tr ng-if="pos.discount!=0">
                  <td valign="middle"><b>Discount</b></td>
                  <td id="tmp_total" valign="middle" style="width:110px;"><b>{{pos.discount|number:2}}</b></td>
                </tr>
                <tr ng-if="pos.adjustment">
                  <td valign="middle"><b>Adjustment</b></td>
                  <td id="tmp_total" valign="middle" style="width:110px;"><b>{{pos.adjustment|number:2}}</b></td>
                </tr>
                <tr>
                  <td valign="middle"><b>Grand Total</b></td>
                  <td id="tmp_total" valign="middle" style="width:110px;"><b>₹ {{pos.maintotal|number:2}}</b></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

