<section class="page-padding">
  <div class="col-md-12">
    <section class="md-content-section">
      <div class="md-whiteframe-z1">
        <md-toolbar class="md-accent" style="background-color: white;">
          <div class="md-toolbar-tools" style="height:50px;padding: 0px 45px;">
            <md-button aria-label="Button" class="btn-width-sm md-raised md-accent" ui-sref="expensebill" style="margin-right:20px">
              <md-icon class="md-primary" md-svg-src="/img/icons/ic_keyboard_arrow_left_24px.svg"></md-icon>back</md-button>
            <span class="flex"></span>
            <md-button ng-disabled="disable" class="md-fab md-mini" aria-label="create"><a ui-sref="editexpenses({expid:exp.expensesid})"><md-icon md-svg-src="/img/icons/ic_create_24px.svg"></md-icon></a></md-button>
            <md-button class="md-fab md-mini" ng-click="delete(exp.id,exp.expensetype)" aria-label="create"><md-icon md-svg-src="/img/icons/ic_delete_24px.svg"></md-icon></md-button>
          </div>
        </md-toolbar>

        <md-content id="dvContents">
          <div style="padding:0 35px;">


            <div style="padding:35px 0 50px;text-align:center">
              <span style="border-bottom:1px solid #eee;" class="pcs-entity-title">EXPENSE RECEIPT</span>
            </div>

            <div style="width: 70%;float: left;">

              <div style="width: 100%;padding: 11px 0;">
                <div style="width:35%;float:left;" class="pcs-label">Expense Date</div>
                <div style="width:40%;border-bottom:1px solid #eee;float:left;"><b>{{exp.date|date:'dd/MM/yyyy'}}</b></div>
                <div style="clear:both;"></div>
              </div>

              <div style="width: 100%;padding: 10px 0;">
                <div style="width:35%;float:left;" class="pcs-label">Expense ID</div>
                <div style="width:40%;border-bottom:1px solid #eee;float:left;min-height:22px"><b>{{exp.expensesid}}</b></div>
                <div style="clear:both;"></div>
              </div>

              <div style="width: 100%;padding: 10px 0;">
                <div style="width:35%;float:left;" class="pcs-label">Expense Type</div>
                <div style="width:40%;border-bottom:1px solid #eee;float:left;min-height:22px"><b>{{exp.expensetype}}</b></div>
                <div style="clear:both;"></div>
              </div>

              <div style="width: 100%;padding: 11px 0;">
                <div style="width:35%;float:left;" class="pcs-label">Payment Mode</div>
                <div style="width:40%;border-bottom:1px solid #eee;float:left;"><b>{{exp.paymentmode}}</b></div>
                <div style="clear:both;"></div>
              </div>

              <div ng-if="exp.name" style="width: 100%;padding: 11px 0;">
                <div style="width:35%;float:left;" class="pcs-label">Customer/Vendor</div>
                <div style="width:40%;border-bottom:1px solid #eee;float:left;"><b>{{exp.name.firstname}} {{exp.name.lastname}}</b></div>
                <div style="clear:both;"></div>
              </div>
              
              <br>
              <div ng-if="exp.amount!=exp.tax">
              <h3>Taxes</h3>
              <div style="width: 100%;padding: 11px 0;">
                  <div style="width:35%;float:left;" class="pcs-label">Amount</div>
                  <div style="width:40%;border-bottom:1px solid #eee;float:left;"><b style="margin-right:60%;float:right;">{{exp.amount|number:2}} </b></div>
                  <div style="clear:both;"></div>
              </div>
              <div ng-if="exp.cgst" style="width: 100%;padding: 11px 0;">
                  <div style="width:35%;float:left;" class="pcs-label">CGST ({{exp.cgst}}%)</div>
                  <div style="width:40%;border-bottom:1px solid #eee;float:left;"><b style="margin-right:60%;float:right;">{{expcgst|number:2}} </b></div>
                  <div style="clear:both;"></div>
              </div>
              <div ng-if="exp.sgst" style="width: 100%;padding: 11px 0;">
                  <div style="width:35%;float:left;" class="pcs-label">SGST ({{exp.sgst}}%)</div>
                  <div style="width:40%;border-bottom:1px solid #eee;float:left;"><b style="margin-right:60%;float:right;">{{expsgst|number:2}} </b></div>
                  <div style="clear:both;"></div>
              </div>
              <div ng-if="exp.igst" style="width: 100%;padding: 11px 0;">
                  <div style="width:35%;float:left;" class="pcs-label">IGST ({{exp.igst}}%)</div>
                  <div style="width:40%;border-bottom:1px solid #eee;float:left;"><b style="margin-right:60%;float:right;">{{expigst|number:2}} </b></div>
                  <div style="clear:both;"></div>
              </div>
              <div ng-if="exp.cess" style="width: 100%;padding: 11px 0;">
                  <div style="width:35%;float:left;" class="pcs-label">CESS ({{exp.cess}}%)</div>
                  <div style="width:40%;border-bottom:1px solid #eee;float:left;"><b style="margin-right:60%;float:right;">{{expcess|number:2}} </b></div>
                  <div style="clear:both;"></div>
              </div>
              <div style="width: 100%;padding: 11px 0;">
                  <div style="width:35%;float:left;" class="pcs-label">Amount with Tax</div>
                  <div class="flex" style="width:40%;border-bottom:1px solid #eee;float:left;margin-left:0px">
                    <b style="margin-right:60%;float:right;">{{exp.tax|number:2}} 
                    </b>
                  </div>
                  <div style="clear:both;"></div>
              </div>
              </div>

            </div>

            <div style="text-align:center;color:#ffffff;float:right;background:#78ae54;width: 25%; padding: 34px 5px;">
              <span> Amount</span><br>
              <span class="pcs-total">
               ₹ {{exp.amount|number:2}}
              </span><br><br>
              <span> Amount with Tax</span><br>
              <span class="pcs-total">
               ₹ {{exp.tax|number:2}}
              </span>
            </div><div style="clear:both;">
          </div>
            <div style="margin-top:50px">

            </div>
        </md-content>
      </div>
    </section>
  </div>
</section>
