<section class="page-padding" >
  <div class="col-md-12">
    <section class="md-content-section">
      <div class="md-whiteframe-z1">
        <div class="md-accent" style="background-color: white;">
          <div class="md-toolbar-tools" style="height:50px;padding: 0px 45px;">
            <md-button aria-label="Button" class="btn-width-sm md-raised md-accent" ui-sref="pointofsale" style="margin-right:20px">
              <md-icon class="md-primary" md-svg-src="/img/icons/ic_keyboard_arrow_left_24px.svg"></md-icon>back</md-button>
            <span class="flex"></span>
            <md-button ng-if="pos.status!= 'Paid'" ui-sref="paymentreceived({id:pos.posid})" aria-label="Button" class="btn-width-sm md-raised md-accent" style="margin-right:20px">
              Record Payment</md-button>
            <a flex="9">
              <md-menu md-position-mode="target-right target" md-offset="0 48">
                <md-button aria-label="Button" class="btn-width-sm md-raised md-accent" ng-click="$mdMenu.open()" style="margin-right:20px">
                  More <md-icon md-svg-src="/img/icons/ic_keyboard_arrow_down_24px.svg"></md-icon>
                </md-button>
                <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
                  <md-menu-item>
                    <md-button ui-sref="invoice({id:pos.posid,name:'invoice'})">
                      <h4 style="color:#D81B60" > Clone</h4>
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button>
                      <h4 style="color:#D81B60">Void</h4>
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="delivery($event,pos.id)">
                      <h4 style="color:#D81B60">Print Delivery Note</h4>
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="packing($event,pos.id)">
                      <h4 style="color:#D81B60">Print Packing Slip</h4>
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </a>
            <md-button ng-if="pos.status=='Draft'" ui-sref="invoiceedit({posid:pos.posid})" class="md-fab md-mini" aria-label="create"><md-icon md-svg-src="/img/icons/ic_create_24px.svg"></md-icon></md-button>
            <md-button ng-click="print()" class="md-fab md-mini" aria-label="create"><md-icon md-svg-src="/img/icons/ic_print_24px.svg"></md-icon></md-button>
            <md-button ng-click="downloadpdf(pos.posid)" class="md-fab md-mini" aria-label="create"><md-icon md-svg-src="/img/icons/ic_file_download_24px.svg"></md-icon></md-button>
            <md-button class="md-fab md-mini" ng-click="delete(pos.id)" aria-label="create"><md-icon md-svg-src="/img/icons/ic_delete_24px.svg"></md-icon></md-button>
          </div>
        </div>

        <md-content>
          <div class="card-content">
            <div class="card" style="padding:30px 15px; margin:30px;position: relative;">
              <div class="card-content">
                <div ng-if="pos.status=='Draft'" class="ribbon ribbon-top-left"><span style="background-color:orange;color: white">Draft</span></div>
                <div ng-if="pos.status=='Paid'" class="ribbon ribbon-top-left"><span style="background-color:green;color: white">Paid</span></div>
                <div ng-if="pos.status=='Partially Paid'" class="ribbon ribbon-top-left"><span style="background-color:red;color: white">Partially Paid</span></div>
                <div class="row" style="margin: 0px 0px 20px;">
                  <div class="card-title col-md-8 col-sm-6">
                    <!-- <img src="assets/images/gst.png" style="width:200px; height: 200px"> -->
                  </div>
                  <div class="right-align top col-md-4 col-sm-6">
                    <h3>Invoice</h3>
                    <p>{{pos.posid}}</p>
                    <p style="margin-top:10px;color: green">Total Amount</p>
                    <p style="color: green">₹ {{pos.maintotal|number:2}}</p>
                    <p style="margin-top:10px;color: red">Balance Due</p>
                    <p style="color: red">₹ {{pos.balance|number:2}}</p>
                  </div>

                </div>
                <div class="row" style="margin: 0px 0px 20px;">
                  <div class="col-md-4 col-sm-4">
                    <p style="color: black"><b>{{mainuser.company}}</b></p>
                    <p>{{mainuser.address}}</p>
                    <p>{{mainuser.city}}</p>
                    <p>{{mainuser.phoneno}}</p>
                    <p ng-if="mainuser.gstin">{{mainuser.gstin}}</p>
                  </div>
                  <div class="col-md-8 col-sm-8 ">
                    <div class="right">
                      <table>
                        <tbody>
                        <tr>
                          <td style="text-align:right;padding:5px 50px 5px 0px;">Invoice Date :</td>
                          <td style="text-align:right;">{{pos.invoicedate|date:'dd/MM/yyyy'}}</td>
                        </tr>

                        <tr ng-if="pos.duedate">
                          <td style="text-align:right;padding:5px 50px 5px 0px;">Due Date :</td>
                          <td style="text-align:right;">{{pos.duedate|date:'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr ng-if="pos.orderno">
                          <td style="text-align:right;padding:5px 50px 5px 0px;">Order No :</td>
                          <td style="text-align:right;">{{pos.orderno}}</td>
                        </tr>

                        <tr ng-if="pos.orderdate">
                          <td style="text-align:right;padding:5px 50px 5px 0px;">Order Date :</td>
                          <td style="text-align:right;">{{pos.orderdate|date:'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr ng-if="pos.user.plos">
                          <td style="text-align:right;padding:5px 50px 5px 0px;">Place of Supply :</td>
                          <td style="text-align:right;">{{pos.user.plos}}</td>
                        </tr>
                        <tr ng-if="pos.user.statecode">
                          <td style="text-align:right;padding:5px 50px 5px 0px;">State Code :</td>
                          <td style="text-align:right;">{{pos.user.statecode}}</td>
                        </tr>
                        <tr ng-if="pos.paymentmode">
                          <td style="text-align:right;padding:5px 50px 5px 0px;">Payment Mode :</td>
                          <td style="text-align:right;">{{pos.paymentmode}}</td>
                        </tr>
                        <tr ng-if="pos.transportmode">
                          <td style="text-align:right;padding:5px 50px 5px 0px;">Transport Mode :</td>
                          <td style="text-align:right;">{{pos.transportmode}}</td>
                        </tr>
                        <tr ng-if="pos.vehicleno">
                          <td style="text-align:right;padding:5px 50px 5px 0px;">Vehicle No :</td>
                          <td style="text-align:right;">{{pos.vehicleno}}</td>
                        </tr>
                        <tr ng-if="pos.salesperson">
                          <td style="text-align:right;padding:5px 50px 5px 0px;">Sales Person :</td>
                          <td style="text-align:right;">{{pos.salesperson.name}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="row" style="margin: 0px 0px 20px;">
                  <div class="col-md-4 col-sm-4">
                    <p style="color: black"><b>Bill To</b></p>
                    <p>{{pos.user.company}}</p>
                    <p>{{pos.user.firstname}} {{pos.user.lastname}}</p>
                    <p>{{pos.user.gstin}}</p>
                    <p>{{pos.user.mobilenumber}}, {{pos.user.phonenumber}}</p>
                    <p>{{pos.user.email}}</p>
                  </div>
                  <div  class="col-md-4 col-sm-4" >
                    <div ng-if="pos.user.address">
                      <p style="color: black"><b>Billing Address</b></p>
                      <address class="address-color">
                          <span ng-if="pos.user.address.address1">{{pos.user.address.address1}}</span>
                          <span ng-if="!pos.user.address.address1">{{pos.user.address}}</span>
                            {{pos.user.address.address2}}<br>
                            {{pos.user.address.city}}  {{pos.user.address.zipcode}}<br>
                            {{pos.user.address.state}}
                            {{pos.user.address.country}}
                        </address><br>
                    </div>
                </div>
                  <div  class="col-md-4 col-sm-4" >

                      <div ng-if="pos.user.shippingAddress">
                        <p style="color: black"><b>Shipping Address</b></p>
                        <address class="address-color">
                          {{pos.user.shippingAddress.address1}}
                            {{pos.user.shippingAddress.address2}}<br>
                            {{pos.user.shippingAddress.city}}  {{pos.user.shippingAddress.zipcode}}<br>
                            {{pos.user.shippingAddress.state}}
                            {{pos.user.shippingAddress.country}}
                        </address>
                      </div>
                  </div>

                </div>
                <div class="row" style="margin: 0px 0px 20px;">
                  <div class="col-md-12 col-sm-12">
                    <table class="table table-striped table-bordered" align="center">
                      <thead>
                      <tr style="background:#2e3033;color: white">
                        <th data-field="sno">#</th>
                        <th data-field="item">Item</th>
                        <th data-field="hsn">HSN/SAC</th>
                        <th data-field="qty">Qty</th>
                        <th data-field="rate">Rate</th>
                        <th data-field="cgst">CGST</th>
                        <th data-field="sgst">SGST</th>
                        <th data-field="sgst">IGST</th>
                        <th data-field="sgst">CESS</th>
                        <th data-field="amount">Amount</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="product in pos.products">
                        <td>{{$index+1}}</td>
                        <td>{{product.selectedItem.productname}}</td>
                        <td>{{product.selectedItem.hsn}}</td>
                        <td>{{product.quantity}} {{product.unit}}</td>
                        <td>{{product.rate|number:2}}</td>
                        <td>{{product.cgst}}%</td>
                        <td>{{product.sgst}}%</td>
                        <td>{{product.igst}}%</td>
                        <td>{{product.cess}}%</td>
                        <td style="text-align: right;">{{product.subtotal|number:2}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <hr>
                <div class="row" style="margin: 0px 0px 20px;">
                  <div class="col-md-8 col-sm-8">
                    <table style="width: 50%;border: none !important;" class="no-border">
                      <thead>
                      <tr>
                        <th style="text-align: left;"><h6>Tax Detail</h6></th>
                        <th><h6>5%</h6></th>
                        <th><h6>12%</h6></th>
                        <th><h6>18%</h6></th>
                        <th><h6>28%</h6></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td style="text-align: left;"><h6>Taxable</h6></td>
                        <td><h6>{{totrate5|number:2}}</h6></td>
                        <td><h6>{{totrate12|number:2}}</h6></td>
                        <td><h6>{{totrate18|number:2}}</h6></td>
                        <td><h6>{{totrate28|number:2}}</h6></td>
                      </tr>
                      <tr>
                        <td style="text-align: left;"><h6>CGST</h6></td>
                        <td><h6>{{totcgst5|number:2}}</h6></td>
                        <td><h6>{{totcgst12|number:2}}</h6></td>
                        <td><h6>{{totcgst18|number:2}}</h6></td>
                        <td><h6>{{totcgst28|number:2}}</h6></td>
                      </tr>
                      <tr>
                        <td style="text-align: left;"><h6>SGST</h6></td>
                        <td><h6>{{totsgst5|number:2}}</h6></td>
                        <td><h6>{{totsgst12|number:2}}</h6></td>
                        <td><h6>{{totsgst18|number:2}}</h6></td>
                        <td><h6>{{totsgst28|number:2}}</h6></td>
                      </tr>
                      <tr>
                        <td style="text-align: left;"><h6>IGST</h6></td>
                        <td><h6>{{totigst5|number:2}}</h6></td>
                        <td><h6>{{totigst12|number:2}}</h6></td>
                        <td><h6>{{totigst18|number:2}}</h6></td>
                        <td><h6>{{totigst28|number:2}}</h6></td>
                      </tr>
                      </tbody>
                    </table>
                    <div style="margin:10px 0 5px" ng-if="pos.notes">
                      <p><span><b>Notes</b></span></p>
                      <p>{{pos.notes}}</p>
                    </div>
                    <div style="margin:10px 0 5px" ng-if="pos.terms">
                        <p><span><b>Terms And Conditions</b></span></p>
                        <p>{{pos.terms}}</p>
                      </div>

                  </div>
                  <div class="col-md-4 col-sm-4">
                    <table class="right" style="color: rgba(0,0,0,.6);">
                      <tbody>
                      <tr>
                        <td style="text-align:right;padding:5px 50px 5px 0px;color:#2e3033">Subtotal </td>
                        <td style="text-align:right;color:#2e3033">{{pos.totalsub|number:2}}</td>
                      </tr>
                      <tr>
                        <td style="text-align:right;padding:5px 50px 5px 0px;">CGST </td>
                        <td style="text-align:right;">{{pos.totalcgst|number:2}}</td>
                      </tr>
                      <tr>
                        <td style="text-align:right;padding:5px 50px 5px 0px;">SGST </td>
                        <td style="text-align:right;">{{pos.totalsgst|number:2}}</td>
                      </tr>
                      <tr>
                        <td style="text-align:right;padding:5px 50px 5px 0px;">IGST </td>
                        <td style="text-align:right;">{{pos.totaligst|number:2}}</td>
                      </tr>
                      <tr>
                        <td style="text-align:right;padding:5px 50px 5px 0px;">CESS </td>
                        <td style="text-align:right;">{{pos.totalcess|number:2}}</td>
                      </tr>
                      <tr ng-if="pos.adjustment">
                        <td style="text-align:right;padding:5px 50px 5px 0px;">Adjustment</td>
                        <td style="text-align:right;">{{pos.adjustment|number:2}}</td>
                      </tr>
                      <tr ng-if="pos.shipping">
                        <td style="text-align:right;padding:5px 50px 5px 0px;">Shipping</td>
                        <td style="text-align:right;">{{pos.shipping|number:2}}</td>
                      </tr>
                      <tr ng-if="pos.discount!=0">
                        <td style="text-align:right;padding:5px 50px 5px 0px;">Discount</td>
                        <td style="text-align:right;">{{pos.discount|number:2}}</td>
                      </tr>
                      <tr>
                        <td style="text-align:right;padding:5px 50px 5px 0px;color:#2e3033">Total</td>
                        <td style="text-align:right;color:#2e3033">{{pos.maintotal|number:2}}</td>
                      </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </md-content>
      </div>
    </section>
  </div>
</section>

