<section class="page-padding">
 <div class="col-md-12">
   <section class="md-content-section">
    <div class="md-whiteframe-z1">
    <md-card>
     <div align="center">
     <h2>Backup your Data</h2>
     <hr>
     <img src="../img/backup.png" style="width:100px;height:100px;">
     <p style="text-align:center;">Export all your data such as estimation, invoices, credit notes,etc into CSV file.</p>
      <md-button class="btn-width-medium md-raised md-primary" type="Submit" style="margin:10px;">Backup</md-button>
     </div>
    
     <div class="md-content__body" style="margin:15px">
       <h2 style="text-align:center;">Backup History</h2>
          <div class="table-responsive">
           <table class="table table-striped table-bordered" style="text-align:center;">
              <thead>
              <tr>
                <th>Backup Time</th>
                <th>File Type</th>
                <th>Download link</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>21/10/2017</td>
                <td>CSV</td>
                <td><a href="">click here</a></td>
               </tr>
              <tr>
                <td>21/08/2017</td>
                <td>CSV</td>
                <td><a href="">click here</a></td>
               </tr>
               </tbody>
            </table>
          </div>
          <p style="text-align: center;cursor:pointer;text-decoration:underline;">Load more</p>
        </div>
    </md-card>
    </div>
   </section>
   </div>
   </section>