<section class="page-padding">
  <div class="col-md-12">
    <section class="md-content-section">
      <div class="md-whiteframe-z1">
        <md-card>
          <div align="center">
            <h2>Import your Data</h2>
            <hr>
            <img src="../img/backup.png" style="width:100px;height:100px;">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            <p style="text-align:center;">Import all your data such as estimation, invoices, credit notes,etc into CSV file.</p>
            <div style="margin: 20px;">
              <form>
                <p style="margin:0px;">Choose File ot import</p>
                <input type="file"  ng-model="csv" />
                <md-button class="btn-width-medium md-raised md-primary" type="Submit" style="margin:10px;">import</md-button>
              </form>
            </div>
          </div>
        </md-card>
      </div>
    </section>
  </div>
</section>
