<section class="page-padding">
 <div class="col-md-12">
   <section class="md-content-section">
    <div class="md-whiteframe-z1">
    <md-card style="padding-bottom:10px">
     <div align="center">
     <h2>Renew Licence</h2>
     <hr>
     <img src="../img/ree.png" style="width:100px;height:100px;">
     <p style="text-align:center;">Your Software licence expires on "{{$root.myexpire|date:"dd/MM/yyyy"}}"</p>
      <md-button class="btn-width-medium md-raised md-primary" ng-click="renew()" style="margin:10px;">Renew</md-button>
     </div>


    </md-card>
    </div>
   </section>
   </div>
   </section>
