<section class="page-padding">
    <div>
        <div class="md-whiteframe-z1">
            <md-toolbar style="background:white;color:#D81B60">
                <div class="md-toolbar-tools">
                    <h3>Sales Person List</h3>
                    <span class="flex"></span>
                    <md-button aria-label="Button" class="btn-width-sm md-raised md-accent"  ng-click="addSalesperson($event)" style="margin-right:20px">
                        <md-icon class="md-primary" md-svg-src="/img/icons/ic_add_24px.svg"></md-icon>Add New Sales Person</md-button>
                </div>
            </md-toolbar>
            <md-content>
                <div class="md-content__body">
                    <div class="row">
                        <div class="col-md-5">
                            <span>Show
                                <md-input-container>
                                    <md-select ng-model="rows" ng-change="changevalue()">
                                        <md-option value="20" ng-selected="true">20</md-option>
                                        <md-option value="30">30</md-option>
                                        <md-option value="40">40</md-option>
                                        <md-option value="50">50</md-option>
                                    </md-select>
                                </md-input-container>
                                entries per page</span>
                        </div>
                        <div class="col-md-3">
                            <md-select ng-model="exporrval" ng-change="exportAction(exporrval)" placeholder="Export as" style="width:100%">
                                <md-option value="pdf">PDF</md-option>
                                <md-option value="excel">XLS(Microsoft Excel)</md-option>
                                <md-option value="csv">CSV (Comma Seperated Value)</md-option>
                            </md-select>
                        </div>
                        <div class="col-md-4">
                            <div class="table-filters">
                                <md-input-container class="md-accent" style="width:100%">
                                    <label>Search Sales Persons</label>
                                    <input type="text"
                                    placeholder="Enter Sales Person Name"
                                    class="form-control"
                                    ng-model="searchtext"
                                    ng-change="search(searchtext)">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered export-table" align="center">
                            <thead>
                                <tr>
                                    <th>Sales Person Name </th>
                                    <th>Sales person ID</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="salesperson in salespersons">
                                  <td><a ui-sref="salespersonsingle({id:salesperson.id})">{{salesperson.name}}</a></td>
                                    <td>{{salesperson.refid}}</td>
                                    <td>{{salesperson.email}}</td>
                                    <td>{{salesperson.phonenumber}}</td>
                                    <td>
                                        <md-button class="md-fab md-mini" aria-label="create" ng-click="editsalesperson($event,salesperson.id)">
                                            <md-icon md-svg-src="/img/icons/ic_create_24px.svg"></md-icon>
                                        </md-button>
                                    </td>
                                    <td>
                                        <md-button class="md-fab md-mini" aria-label="create" ng-disabled="salesperson.used" ng-click="delete(salesperson.id)">
                                            <md-icon md-svg-src="/img/icons/ic_delete_24px.svg"></md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                                <!-- <tr ng-repeat="user in users">
                                    <td>{{user.username}}</td>
                                    <td ng-if="user.role=='A'">Admin</td>
                                    <td ng-if="user.role=='S'">Staff</td>
                                    <td ng-if="user.role=='B'">Biller</td>
                                    <td>
                                        <md-button class="md-fab md-mini" aria-label="create" ng-click="editUser($event,user.id)">
                                            <md-icon md-svg-src="/img/icons/ic_create_24px.svg"></md-icon>
                                        </md-button>
                                    </td>
                                    <td>
                                        <md-button class="md-fab md-mini" aria-label="create" ng-click="delete(user.id)">
                                            <md-icon md-svg-src="/img/icons/ic_delete_24px.svg"></md-icon>
                                        </md-button>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                        <footer class="table-footer">
                                <div class="row">
                                  <div class="col-md-12 text-right pagination-container">
                                    <cl-paging flex cl-pages="totalpages" , cl-steps="6" , cl-page-changed="more()" , cl-align="center center" , cl-current-page="currentpage"></cl-paging>
                                  </div>
                                </div>
                        </footer>
                    </div>
                </div>
            </md-content>
        </div>
    </div>
</section>
